h1{
    border: 1px solid #ddd;
    font-weight: 700;
    font-size: 24px;
    line-height:1.2;
    background:#fff;
}
span{
    font-size:12px;
}
p{
    border:1px solid #ddd;
    margin-bottom: 20px;
    padding-top:20px;
    font-size: 16px;
    line-height:1.6;
    background:#fff;
}

nav{
    display:flex;
}

footer{
    background: #fff;
}